
.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.quote-of-the-day-container {
    position: relative;
    min-height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
   
}